body {
    font-family: 'Montserrat', sans-serif;
    margin: 0;

    font-size: 16px;
    line-height: 1.3;
    color: #3A2E38;
}

a {
    color: inherit;
}

i {
    color: #3A2E38;
    font-size: 18px;
}

header i {
    font-size: 18px;
    color: #fff;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
    padding: 0;
}

*,
*:before,
*:after {
    box-sizing: border-box;
}

.container {
    width: 100%;
    max-width: 1440px;
    margin: 0 auto;
}

/* HEADER */
.header {
    background: #FD6EB4;
    padding: 30px 15px;
    width: 100%;
}

.header__inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header__logo {
    padding: 6px 10px;
    margin-right: 60px;

    background: #fff;
    border-radius: 20px 0 0 0;

    font-family: 'Montserrat Alternates', sans-serif;
    font-size: 20px;
    font-weight: 600;
    line-height: 24px;
    text-decoration: none;
    text-transform: uppercase;
    color: #FE6EB4;
}

.nav {
    text-transform: uppercase;
    display: flex;
    justify-content: space-between;
}

.nav__item {
    position: relative;
    padding: 10px;
    margin-right: 20px;
}

.nav__link {
    font-weight: 500;
    line-height: 20px;
    text-decoration: none;
    color: #fff;
}

.nav__link.clear {
    padding: 0;
    margin: 0;
}

.nav__link:after,
.footer__link:after,
.contacts__link:after {
    content: "";
    display: block;
    width: 100%;
    height: 3px;

    background-color: #fff;
    opacity: 0;

    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1000;

    transition: opacity .1s linear;
}

/* .nav__link:hover:after,
.footer__link:hover:after,
.contacts__link:hover:after,
.nav__link.active:after {
    opacity: 1;
} */

.nav__link.search {
    margin-left: 22px;
}

.contacts .nav__link {
    margin-right: 0;
    padding: 10px;
}

.menu__btn {
    background: none;
    border: none;
    padding: 0;
}

.menu__btn img {
    width: 17px;
    height: 8px;
    margin-left: 5px;
    margin-right: -15px;
    cursor: pointer;
}

/* /HEADER */

/* MAIN */

/* Intro */

.intro {
    background: url(../img/header.jpg) center no-repeat;
    background-size: cover;
    width: 100%;
    min-height: 840px;
    padding: 0 15px;
}

.intro__inner {
    padding: 107px 0 211px 0;
    width: 100%;
}

.intro__title {
    font-size: 80px;
    font-weight: 700;
    margin-bottom: 20px;
    max-width: 963px;
    word-wrap: break-word;
}

butt .intro__title span {
    color: #724CFB;
}

.intro__text {
    width: 578px;
    font-size: 20px;
    line-height: 26px;
    font-weight: 500;
    margin-bottom: 60px;
}

.button {
    padding: 16px 32px;
    max-height: 52px;

    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    color: #fff;

    border: 1px solid #724CF9;
    background: #724CF9;
    border-radius: 30px;

    cursor: pointer;
}

.button:hover {
    background: #fff;
    color: #3A2E38;
}

.button.article-page {
    margin: 20px 0 40px 0;
}

.button.button--white.bn {
    border: none;
    margin-bottom: 20px;
}

.button.button--white {
    background: #fff;
    color: #3A2E38;
    border: 1px solid #724CFB;
}

.button--white:hover {
    background: #724CFB;
    color: #fff;


}

/* Section */

.section {
    padding: 40px 15px;
}

.section--first {
    padding-top: 80px;
}

.section--gray {
    background: #F3F3F3;
}

.section--form {
    background: url(../img/form.jpg) center no-repeat;
    background-size: cover;
}

.section--bg {
    background: url(../img/reviews.jpg) center no-repeat;
    background-size: cover;
}

.section__logo {
    width: fit-content;
    padding: 12px 20px;
    margin-bottom: 40px;

    background: #FE6EB4;
    border-radius: 30px 0 0 0;

    font-weight: 700;
    font-size: 32px;
    line-height: 130%;
    color: #fff;
}

.section__logo.modal {
    width: 100%;
}

.section__logo.section__logo--white {
    background: #fff;
    color: #FE6EB4;
}

/* Courses */

.courses {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* margin-bottom: 80px; */
}

.courses__item {
    position: relative;
    padding-left: 100px;
    margin-right: 109px;
}

.courses__item:last-child {
    margin-right: 0;
}

.courses__img {
    position: absolute;
    top: 50%;
    left: 0;
    z-index: 1;

    transform: translateY(-50%);
}

/* Item */

.item__title {
    font-weight: 600;
    font-size: 24px;
    line-height: 1.3;
    margin-bottom: 20px;
}

.item__text {
    margin-bottom: 20px;
}

/* Learning */

.learning {
    display: flex;
    /* justify-content: space-between; */
    align-items: flex-end;
}

.learning__item {
    max-width: 34.4%;
}

.learning__images {
    margin-top: -27px;
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.learning__img:first-child {
    margin-left: 25px;
}

/* News */

.news {
    display: flex;
    align-items: center;
}

.news__item {
    margin-right: 40px;
    border-radius: 30px;
    background: #fff;
    position: relative;
    width: 330px;
    padding: 140px 20px 0 30px;
    min-height: 325px;
}

.news__item:last-child {
    margin-right: 0;
    background: #F3F3F3;
    padding: 0;
}

.news__date {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1000;
    background: #724CFB;
    border-radius: 30px 0px 0px 0px;
    padding: 13px 7px 7px 11px;
    color: #fff;
}

.news__img {
    background: center no-repeat;
    background-size: cover;
    border-radius: 30px 30px 0 0;
    position: absolute;
    top: 0;
    left: 0;
}

.news__title {
    font-weight: 600;
    font-size: 24px;
    word-wrap: break-word;
    height: 62px;
}

.news__text {
    margin-top: 10px;
}

.news__text:after {
    content: url(../img/arrow.jpg);
    display: block;
    margin-top: 10px;
}

.news__link {
    border-radius: 30px;
    min-height: 325px;
    background-size: cover;
}

.news__btn {
    font-weight: 600;
    font-size: 24px;
    text-decoration: none;
    color: #3A2E38;
    width: 179px;

    position: absolute;
    top: 50%;
    left: 50%;

    transform: translate3d(-50%, -50%, 0);

}

/* City */
.city {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.city__item {
    position: relative;
    width: 32%;
    margin-bottom: 2%;
}

.city__item:nth-last-child(-n+3) {
    margin: 0;
}

.city__name {
    font-weight: 700;
    font-size: 32px;
    color: #fff;

    position: absolute;
    top: 50%;
    left: 50%;

    transform: translate3d(-50%, -50%, 0);
}

.city__name.long {
    width: 300px;
}

.city__img {
    border-radius: 30px;
    width: 100%;
    height: 100%;
}

/* Test */

.test__img {
    border-radius: 30px;
    position: absolute;
    top: 0;
    left: 0;
}

.test__item {
    position: relative;
}

/* Feedback */

.feedback {
    width: 100%;
    max-width: 700px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.feedback__logo {
    font-weight: 600;
    font-size: 24px;
    color: #fff;
    margin-bottom: 40px;
}

.feedback__input {
    padding: 20px 0;

    text-align: center;
    font-weight: 500;

    background: #fff;
    border: 1px solid transparent;
    border-radius: 30px;
    font-size: 16px;

    width: 30%;
}

.feedback__input.max {
    width: 100%;
    margin: 20px 0;
}

.feedback__input::placeholder {
    color: #3A2E38;
    opacity: 0.5;
}

.feedback__input:focus {
    outline: 0;
    border: 1px solid #724CFB;
}

.feedback__input:focus::placeholder {
    color: transparent;
    font-size: 0;
}

/* Footer */

.footer {
    background: #3A2E38;
    padding: 40px 15px;
    width: 100%;
}

.footer__inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.footer__logo {
    margin-right: 84px;
    padding: 6px 10px;

    background: #fff;
    border-radius: 20px 0 0 0;

    font-family: 'Montserrat Alternates', sans-serif;
    font-size: 20px;
    font-weight: 600;
    line-height: 24px;
    text-decoration: none;
    text-transform: uppercase;
    color: #FE6EB4;
}

.footer__link {
    font-weight: 500;
    line-height: 20px;
    text-decoration: none;
    color: #fff;
    padding: 10px;
    margin-right: 40px;
    position: relative;
}

.contacts__link {
    font-weight: 500;
    line-height: 20px;
    text-decoration: none;
    color: #fff;
    padding: 10px;
    position: relative;
}

/* Cards */

.card {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.card a {
    text-decoration: none;
}

.card.article-page {
    margin: 40px 0 80px;
}

.card.popular {
    justify-content: space-evenly;
}

.card__item {
    width: 330px;
    height: 325px;

    border-radius: 30px;
    background-color: #fff;

    position: relative;
}

.card__item.popular {
    width: 27%;
    max-height: 315px;
}

.card__item.solo {
    margin: 20px 0 40px 0;
    border: 1px solid #FD6EB4;
}

.card__item.article-page {
    border: 1px solid #FD6EB4;
}

.card__header {
    position: relative;
    margin-bottom: 20px;
    max-height: 120px;
}

.card__date {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1000;
    background: #724CFB;
    border-radius: 30px 0px 0px 0px;
    padding: 13px 7px 7px 11px;
    color: #fff;
}

.card__comment {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 1000;
    background: #724CFB;
    border-radius: 0 30px 0 0;
    padding: 13px 20px 7px;
    color: #fff;
    align-items: center;
}

.card__photo {
    border-radius: 30px 30px 0 0;
    width: 100%;
}

.card__content {
    margin: 0 20px;
}

.card__title {
    margin-bottom: 10px;
    font-weight: 500;
    font-size: 20px;
    color: #3A2E38;
    height: 52px;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.card__title.big {
    font-size: 24px;
    font-weight: 600;
    height: 62px;
}

.card__text {
    margin-bottom: 20px;
}

.card__text:after {
    content: url(../img/arrow.jpg);
    display: block;
    margin-top: 10px;
}

.card__btn {
    font-weight: 600;
    font-size: 24px;
    text-decoration: none;
    color: #3A2E38;
    width: 179px;

    position: absolute;
    top: 50%;
    left: 50%;

    transform: translate3d(-50%, -50%, 0);
}

.card__btn:hover {
    text-decoration: underline;
}

.card__img {
    border-radius: 30px;
}