/* Worker */

.reviews-worker {
    display: flex;
    justify-content: space-between;
    align-items: center;

    margin-top: 40px;
}

.reviews-worker__item {
    padding: 0 27px 20px 20px;

    border-radius: 30px 0 0 0;
    background-color: #fff;

    width: 23%;
}

.reviews-worker__header {
    display: flex;
    justify-content: space-between;
    margin: 30px 0 15px 0;
    align-items: center;
}

.reviews-worker__name {
    font-weight: 600;
    font-size: 24px;
    color: #FE6EB4;
}

/* Faq */

.faq {
    display: flex;
    justify-content: space-between;
}

.faq__content {
    margin-right: 80px;
}

.faq__image {
    position: relative;
    flex: 0 0 57%;
}

.faq__image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    right: 0;
    border-radius: 30px 0 0 0;
}

.faq-accordion {
    margin-top: 40px;
}

.faq-accordion__item {
    border-bottom: 1px solid #FE6EB4;
}

.faq-accordion__item.active .faq-accordion__content {
    display: block;
}

.faq-accordion__item.active {
    border-bottom-color: #724CFB;
}

.faq-accordion__item.active .faq-accordion__header:after {
    transform: translateY(-50%) rotate(-45deg);
    margin-top: 5px;
    border-color: #724CFB;
}

.faq-accordion__header {
    padding: 20px 0;
    position: relative;

    cursor: pointer;

}

.faq-accordion__header:after {
    content: "";
    display: block;
    width: 16px;
    height: 16px;

    border-top: 2px solid #ccc;
    border-right: 2px solid #ccc;

    position: absolute;
    top: 50%;
    right: 20px;
    z-index: 1;

    transform: translateY(-50%) rotate(135deg);
}

.faq-accordion__icon {
    position: absolute;
    top: 50%;
    left: 20px;
    z-index: 1;

    transform: translateY(-50%);
}

.faq-accordion__content {
    padding: 20px 0;
    display: none;
    max-width: 80%;
}

.faq-accordion__title {
    font-size: 14px;
    color: #333;
    text-transform: uppercase;
    max-width: 80%;
}

/* Contacts */

.contacts {
    display: flex;

    margin: 40px 0;
}

.contacts__image {
    margin-right: 40px;
    position: relative;
    flex: 0 0 40%;
}

.contacts__map {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
}

.contacts__location {
    position: absolute;
    top: 25%;
    left: 65%;
    z-index: 1000;
}

.contacts__description {
    margin: 20px 0 40px 0;
}

.contacts__address,
.contacts__schedule,
.contacts__phone {
    display: flex;
    align-items: center;
    gap: 10px;
}

.contacts__schedule {
    margin: 15px 0;
}

.contacts__phone img:hover {
    filter: hue-rotate(300deg);
    cursor: pointer;
}

.test:hover {
    filter: hue-rotate(300deg);
}

.contacts__item {
    flex: 0 0 auto;
}

.reviews-worker__text {
    display: -webkit-box;
    -webkit-line-clamp: 6;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

@media (max-width: 1230px) {

    /* Contacts */

    .contacts {
        display: block;
    }

    .contacts__image {
        padding: 0 0 30% 0;
        margin-right: 0;
    }

    .contacts__item {
        margin-top: 40px;
    }

}

@media (max-width: 992px) {

    /* Blocks */


    /* Reviews */

    .reviews-worker {
        flex-wrap: wrap;
        justify-content: center;
        gap: 20px;
    }

    .reviews-worker__item {
        width: 44%;
    }

    /* Faq */

    .faq {
        display: block;
    }

    .faq__content {
        margin-right: 0;
    }

    .faq__image {
        padding: 0 0 50% 0;
        margin-top: 40px;
    }

    .article__image--worker#worker__image {
        margin-right: 0;
        flex: 0 0 38.33333%;
    }

    .faq-accordion__content {
        max-width: 70%;
    }

}

@media (max-width: 770px) {

    .article__block-courses.worker {
        display: block;
    }

    .block__course-item {
        width: 100%;
    }

    .block__course-content {
        padding: 3%;
    }

    .article__item.worker {
        display: block;
        width: 100%;
    }

    .article__image--worker#worker__image {
        padding: 0 0 65% 0;
    }

}

@media (max-width: 575px) {

    .block__title.fz {
        font-size: 30px;
    }

    .reviews-worker__item {
        width: 100%;
    }

    .faq-accordion__title {
        max-width: 250px;
    }

    .faq__image {
        padding: 0px 0 60% 0;
    }

    .button.mr {
        margin-right: 0;
        margin-bottom: 20px;
    }

    .article__image--worker#worker__image {
        padding: 20px 0 100% 0;
    }
}