/* Worker */

.reviews-worker {
    display: flex;
    justify-content: space-between;
    align-items: center;

    margin-top: 40px;
}

.reviews-worker__item {
    padding: 0 27px 20px 20px;

    border-radius: 30px 0 0 0;
    background-color: #fff;

    width: 23%;
}

.reviews-worker__header {
    display: flex;
    justify-content: space-between;
    margin: 30px 0 15px 0;
}

.reviews-worker__name {
    font-weight: 600;
    font-size: 24px;
    color: #FE6EB4;
}

/* Faq */

.faq {
    display: flex;
    justify-content: space-between;
}

.faq__content {
    margin-right: 80px;
}

.faq__image {
    border-radius: 30px 0 0 0;
}

.faq-accordion {
    margin-top: 40px;
}

.faq-accordion__item {
    border-bottom: 1px solid #FE6EB4;
}

.faq-accordion__item.active .faq-accordion__content {
    display: block;
}

.faq-accordion__item.active {
    border-bottom-color: #724CFB;
}

.faq-accordion__item.active .faq-accordion__header:after {
    transform: translateY(-50%) rotate(-45deg);
    margin-top: 5px;
    border-color: #724CFB;
}

.faq-accordion__header {
    padding: 20px 0;
    position: relative;

    cursor: pointer;
}

.faq-accordion__header:after {
    content: "";
    display: block;
    width: 16px;
    height: 16px;

    border-top: 2px solid #ccc;
    border-right: 2px solid #ccc;

    position: absolute;
    top: 50%;
    right: 20px;
    z-index: 1;

    transform: translateY(-50%) rotate(135deg);
}

.faq-accordion__icon {
    position: absolute;
    top: 50%;
    left: 20px;
    z-index: 1;

    transform: translateY(-50%);
}

.faq-accordion__content {
    padding: 20px 0;
    display: none;
}

.faq-accordion__title {
    font-size: 14px;
    color: #333;
    text-transform: uppercase;
}

/* Contacts */

.contacts {
    display: flex;

    margin: 40px 0;
}

.contacts__image {
    margin-right: 40px;
    position: relative;
}

.contacts__location {
    position: absolute;
    top: 25%;
    left: 65%;
    z-index: 1000;
}

.contacts__location i {
    color: #FE6EB4;
    font-size: 50px;
    text-decoration: none;
    transition: color .2s linear;
}

.contacts__location:hover i {
    color: #724CFB;
}

.contacts__description {
    margin: 20px 0 40px 0;
}

.contacts__schedule {
    margin: 15px 0;
}